<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Chi tiết đơn hàng</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-file-text"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Đơn hàng</a></li>
                    <li class="breadcrumb-item"><a href="#!Report">Chi tiết đơn hàng</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <!--<div class="card-header">
        <a href="#!CreateBill" class="btn btn-primary">Tạo đơn hàng</a>
    </div>-->
    
    <div class="card-body">
        <div class="mb-3"><strong>Ngày tạo {{obj.ngayTao}}</strong></div>
        <h5>Khách hàng</h5>
        <div class="row">
            <div class="col-md-3">
                Họ tên: {{obj.khachHangInfo.ten}}
            </div>
            <div class="col-md-3">
                Số điện thoại: {{obj.khachHangInfo.soDienThoai}}
            </div>
            <div class="col-md-3">
                Ngày sinh: {{obj.khachHangInfo.ngaySinh | date:'dd/MM/yyyy'}}
            </div>
            <div class="col-md-3">
                Email: {{obj.khachHangInfo.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">Địa chỉ: {{obj.khachHangInfo.diaChi}}</div>
        </div>
        <h5 class="mt-3">Thông tin hóa đơn</h5>
        <table class="table table-bordered">
            <tr>
                <td>STT</td>
                <td>Sản phẩm</td>
                <td>Đơn giá</td>
                <td>Số lượng</td>
                <td>Triết khấu</td>
                <td>Đơn vị triết khấu</td>
                <td>Thành tiền</td>
            </tr>
            <tr ng-repeat="item in obj.chiTietDonHangs">
                <td>{{$index + 1}}</td>
                <td><img ng-src="{{item.anhSanPham}}" style="width:50px;" /> {{item.tenSanPham}}</td>
                <td>{{item.donGia | number}}</td>
                <td>{{item.soLuong | number}}</td>
                <td>{{item.trietKhau}}</td>
                <td>{{item.idDonViTrietKhau == 1 ? '%' : 'tiền cố định'}}</td>
                <td>{{item.thanhTien | number}}</td>
            </tr>
        </table>
        <div >
ss
        </div>
        <div class="mt-3">
            Tổng tiền: <strong>{{obj.tongTien | number}}</strong>
        </div>
    </div>

</div>