<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Khách hàng</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-users"></i></a></li>
                    <!--<li class="breadcrumb-item"><a href="#!">Basic Components</a></li>-->
                    <li class="breadcrumb-item"><a href="#!Customer">Khách hàng</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>