<div class="">

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Sản phẩm</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-box"></i></a></li>
                        <!--<li class="breadcrumb-item"><a href="#!">Basic Components</a></li>-->
                        <li class="breadcrumb-item"><a href="#!SanPham">Sản phẩm</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Thêm sản phẩm</button>
        </div>
       
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá vốn</th>
                            <th>Giá bán</th>
                            <th>Tồn kho</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr ng-repeat="item in listProduct">
                            <td><strong>{{item.ma}}</strong></td>
                            <td>{{item.ten}}</td>
                            <td>
                                {{item.giaVon | number}}
                            </td>
                            <td>{{item.giaBan | number}}</td>
                            <td>
                                {{item.tonKho}}
                            </td>
                            <td>
                                <a class="btn btn-primary" ng-href="#!DetailProduct?id={{item.id}}">Chi tiết</a>
                                <a class="btn btn-primary" ng-href="#!UpdateProduct?id={{item.id}}">Chỉnh sửa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    <div id="exampleModalLong" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-3 mb-3">
                            <label for="nameBasic" class="form-label">Mã sản phẩm</label>
                            <input type="text" ng-model="obj.Ma" id="nameBasic" class="form-control form-control-sm" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="nameBasic" class="form-label">Tên sản phẩm</label>
                            <input type="text" ng-model="obj.Ten" id="nameBasic" class="form-control form-control-sm" />
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Mã vạch</label>
                            <input type="text" ng-model="obj.MaVach" id="nameBasic" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Giá vốn</label>
                            <input type="number" ng-model="obj.GiaVon" id="nameBasic" class="form-control form-control-sm" />
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Giá bán</label>
                            <input type="number" ng-model="obj.GiaBan" id="nameBasic" class="form-control form-control-sm" />
                        </div>
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Tồn kho</label>
                            <input type="number" ng-model="obj.TonKho" id="nameBasic" class="form-control form-control-sm" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="nameBasic" class="form-label">Nhóm sản phẩm</label>
                            <select class="form-control form-control-sm" ng-model="obj.IdNhomHang">
                                <option value={{item.id}} ng-repeat="item in listCategoryProduct">{{item.ten}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Mô tả</label>
                            <input type="text" ng-model="obj.MoTa" id="nameBasic" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Ghi chú</label>
                            <input type="text" ng-model="obj.GhiChu" id="nameBasic" class="form-control" />
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mb-2">
                        <div ng-repeat="item in previewData" class="mr-2">
                            <img style="width:150px;" ng-src="{{item.src}}" />
                            <div>
                                {{item.name}}
                            </div>
                            <div class="mt-2 d-flex justify-content-center">
                                <i style="font-size:25px; cursor:pointer;" ng-click="removeFile($index + 1)" class="feather icon-x-circle"></i>
                            </div>
                        </div>
                    </div>
                    <input type="file" multiple onchange="angular.element(this).scope().previewFile(this)" />

                    <div class="mt-3">
                        <div class="col-md-3 mb-3">
                            Thuộc tính sản phẩm
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="addProperty()">Thêm thuộc tính</button>
                            <div ng-repeat="item in listPropertyProduct">
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        <label class="form-label">Thuộc tính</label>
                                        <select ng-model="item.IdThuocTinh" class="form-control form-control-sm">
                                            <option value={{item.id}} ng-repeat="item in listProperty">{{item.ten}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <label class="form-label">Giá trị</label>
                                        <input ng-model="item.GiaTri" class="form-control form-control-sm" />
                                    </div>
                                    <div class="col-md-1 d-flex align-items-center">
                                        <i style="font-size:25px; cursor:pointer;" ng-click="removeProperty($index)" class="feather icon-x-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" ng-click="create()" class="btn  btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>
